[Unit]
Description=Gunicorn server for DOMAIN 

[Services]
Restart=on-failure
User=caiprozect 
WorkingDirectory=/home/caiprozect/sites/DOMAIN 
EnvironmentFile=/home/caiprozect/sites/DOMAIN/.env 

ExecStart=/home/caiprozect/sites/DOMAIN/virtualenv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application 

[Install]
WantedBy=multi-user.target